/*
* demo.css
* File include item demo only specific css only
******************************************************************************/
h4{
  margin-bottom: 0;
}
.light-style .menu .app-brand.demo {
  height: 64px;
}

.dark-style .menu .app-brand.demo {
  height: 64px;
}

.app-brand-logo.demo {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  width: 34px;
  height: 24px;
}

.app-brand-logo.demo svg {
  width: 35px;
  height: 24px;
}

.app-brand-text.demo {
  font-size: 1.375rem;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
.layout-page{
  background: url(../img/diamond-bg-1.jpg);
  background-size: contain;
}
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 72px !important;
}
/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 254px;
    position: relative;
  }
  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}


/* admin css by surajit */
.bg-menu-theme.menu-vertical .menu-item.active > .menu-link:not(.menu-toggle){
  background: linear-gradient(270deg, #040707 0%, #1a1c1c 100%);
}
.bg-menu-theme .menu-inner .menu-item.active > .menu-link.menu-toggle{
  background: #f1f1f1;
}
#search1{
  border-radius: 5px;
  border: 1px solid #040707;
  padding: 10px 15px !important;
  margin-bottom: 0 !important;
}

/* table design css */
#table1{
  overflow: auto;
  width: 100%;
}
table thead th{
  background: #040707 !important;
  border-bottom: 1px solid #fff;
  color: #fff !important;
}
table tbody td{
  padding: 8px 10px !important;
  border: none;
  transition: all .3s ease-in-out;
}
table tbody tr,
table.table-striped tbody tr,
table.table-striped tbody th{
  transition: all .3s ease-in-out;
}
table.table-striped tbody tr:hover,
table tbody tr:hover{
  background: #d3d3d3 !important;
  box-shadow: none !important;
  color: #000 !important
}
table.table-striped tbody tr:hover td,
table.table-striped tbody tr:hover th{
  background: #d3d3d3 !important;
  box-shadow: none !important;
  color: #000 !important
}
table thead th:first-child{
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
table thead th:last-child{
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
table.table-striped tbody tr{
  border-top-left-radius: 5px !important;
}
table.table-striped tbody td:first-child{
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}
table.table-striped tbody td:last-child{
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.blue_badge{
  background-color: #79a1c92b !important;
  border: 1px solid #123456;
  color: #123456;
}


/* form design css */
.form-control:focus, .form-select:focus,
.form-check-input:checked{
  box-shadow: 0 6px 15px -8px rgb(0 0 0 / 30%) !important;
  border-color: #040707 !important;
}
.form-check-input:checked{
  background-color: #040707 !important;
}



/* btn design */

.btn-outline-dark{
  background-color: #040707 !important;
  border-color: #040707 !important;
  color: #fff !important;

  position: relative;
      cursor: pointer;
      border: none;
      color: #000;
      background: transparent;
      overflow: hidden;
      border-radius: 5px;
}
/* .btn-outline-dark::after {
      content: '';
      background: linear-gradient(to right, #fdfc47, #24fe41);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all 1.3s ease-in;
      z-index: 0;
    }
.btn-text {
      background: #fff;
      padding: 1.25rem 6rem;
      font-size: 15px;
      position: relative;
      z-index: 1;
      display: block;
      margin: 0.25rem 0;
      border-radius: 5px;
    }
.btn-outline-dark:hover::after {
      transform: rotate(180deg);
      transition: all 1s ease-in-out;
    } */


.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #040707 !important;
  color: #fff !important;
}
.select2-container--default .select2-results__option--highlighted:not([aria-selected=true]){
  background-color: #040707 !important;
  color: #fff !important;
}
.select2-results__option.select2-results__option--highlighted{
  background-color: #040707 !important;
  color: #fff !important;
}
html:not([dir=rtl]) .select2-container--default .select2-selection--multiple .select2-selection__choice{
  padding-right: 0.8rem !important;
}
.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus{
  background-color: #040707 !important;
  color: #fff !important;
  box-shadow: 0 0.125rem 0.375rem 0 rgb(2 2 4 / 30%);
}
.nav-pills .nav-item .nav-link:not(.active):hover, .nav-pills .nav-item .nav-link:not(.active):focus{
  background-color: #d3d3d3 !important;
  color: #000 !important;
}
#leadEdit .input-group-text i{
  font-size: 16px;
}
#leadEdit .input-group-text{
  width: 43px;
}

@media(max-width: 767px) {
  .main_heading {
    line-height: 1;
    font-size: 22px;
  }
  #search1{
    padding: 5px 8px !important;
    margin-top: 8px
  }
  .table thead tr th {
    padding-block: 0.8rem;
    font-size: 8px;
  }
  tbody tr td {
    padding-block: 0.8rem;
    font-size: 10px !important;
  }
}
@media(max-width: 575px) {
  .main_heading {
    font-size: 18px;
  }
}